@mixin button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: $primary-blue;
  border-radius: 3px;
  padding: 9px 20px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}